* {
  padding: 0;
  margin: 0;
}


html {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  background: #1488cc;
  background: -webkit-linear-gradient(to right, #2b32b2, #1488cc);
  background: linear-gradient(to right, #2b32b2, #1488cc);
}

.event-post-wrapper {
  max-width: 70%;
}

.event_post {
  background: #fff;
  width: 250px;
  height: 300px;
  border-radius: 10px;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  position: relative;

  @media (max-width: 576px) {
    flex-grow: 1;
    // width: 150px;
    // height: 300px;
  }
}

.container_copy {
  height: 100%;
}

.img_pod[_ngcontent-ng-c629295588] {
  height: 50px;
  width: 50px;
  background: linear-gradient(90deg, #ff9966, #ff5e62);
  z-index: 10;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  border-radius: 100%;
  position: absolute;
  left: -7%;
  top: -7%;
  display: flex;
  align-items: center;
  justify-content: center;
}

img:not(.event_finish_img) {
  height: 40px;
  width: 40px;
  position: absolute;
  border-radius: 100%;
  box-shadow: 1px 1px 2rem rgba(0, 0, 0, 0.3);
  z-index: 1;
  top: 15px;
  right: 10px;
}

.event_finish_img{
  width: 40px;
}

h5 {
  margin: 0 0 0.5rem 0;
  color: #999;
  font-size: 1.25rem;
}

h1 {
  margin: 0 0 1rem 0;
  font-size: 2.5rem;
  letter-spacing: 0.5px;
  color: #333;
}

p {
  margin-bottom: 20px;
  font-size: 1.2rem;
  line-height: 1.45;
  color: #333;
}

.btn_primary {
  border: none;
  outline: none;
  background: linear-gradient(90deg, #ff9966, #ff5e62);
  padding: 5px 25px;
  border-radius: 5px;
  color: white;
  font-size: 1.2rem;
  box-shadow: 1px 10px 2rem rgba(255, 94, 98, 0.5);
  transition: all 0.2s ease-in;
  text-decoration: none;
}

.btn_primary:hover {
  box-shadow: 0px 5px 1rem rgba(255, 94, 98, 0.5);
}

.event-list {
  width: 50px;
  border-radius: 10px;
  background-color: whitesmoke;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--item--sheet__day {
    color: black;
  }

  &--item--sheet__month {
    color: #ff5e62;
  }
}

.event-list--item--sheet__year {
  color: lightgrey;
}

.sticky_block {
  width: 315px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1000;

  background: rgba(193, 192, 192, 0.62);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(7.2px);
  -webkit-backdrop-filter: blur(7.2px);
  border: 1px solid rgba(255, 255, 255, 0.22);
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.btn:hover {
  color: white;
}

.sort_item,
.limit_items {
  border: none;
  background: none;
}

.limit_items:not(.active):hover {
  scale: 1.4;
  transition: all 0.4s;
}

.limit_items {
  @media (max-width: 400px) {
    font-size: 18px;
    column-gap: 20px;
  }
}

.sort_item:hover,
.sort_item.active,
.limit_items.active {
  color: #007bff;
}

div.action-button {
  @media (max-width: 400px) {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
  }
}



.loading-block{
  position: fixed;
  bottom: 110px;

  left: 50%;
  transform: translate(-50%, -50%);
}

.loader {
  border-radius: 50%;
  animation: bounce 0.8s ease-in-out alternate infinite;
  animation-delay: 0.32s;
  position: relative;
  height: 20px;
  width: 20px;
  bottom: 26px;
  left: 20px;

  &:after,
  &:before {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: inherit;
    box-shadow: inherit;
    animation: inherit;
  }

  &:before {
    left: 20px;
    animation-delay: 0.48s;
  }

  &:after {
    right: 20px;
    animation-delay: 0.16s;
  }
}

@keyframes bounce {
  0% {
    box-shadow: 0 2em 0 -.2em #F05C62;
  }

  100% {
    box-shadow: 0 1em 0 -.2em #F05C62;
  }
}