<div class="d-flex flex-column justify-content-center align-items-center">
  <div class="sticky_block">
    <div class="col text-center">
      <div ngbDropdown class="d-inline-block">
        <button
          type="button"
          class="btn btn-outline-primary px-3"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          Sort by
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button
            *ngFor="let option of sortOptions"
            class="dropdown-item"
            (click)="sort(option.key, option.order)"
          >
            Sorting by '{{ option.label }}' {{ option.order }}
          </button>
        </div>
      </div>

      <div ngbDropdown class="d-inline-block ms-3">
        <button
          type="button"
          class="btn btn-outline-primary px-3"
          id="dropdownBasic1"
          ngbDropdownToggle
        >
          Limit
        </button>
        <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
          <button
            *ngFor="let option of limitOptions"
            class="dropdown-item"
            (click)="setLimit(option.key)"
          >
            {{ option.label }}
          </button>
        </div>
      </div>
    </div>

    <app-pagination
      *ngIf="totalItems"
      class="mt-4 d-flex justify-content-center"
      [currentPage]="currentPage"
      [itemsPerPage]="itemsPerPage"
      [totalItems]="totalItems"
      [totalPages]="totalPages"
      (pageChanged)="onPageChange($event)"
    ></app-pagination>
  </div>

  <div class="event-post-wrapper d-flex flex-wrap column-gap-3 row-gap-4 my-4">
    @for (event of store.getEvents(); track event._id; let index =
    $index, first = $first, last = $last, even = $even, odd = $odd, count =
    $count) {
    <div class="event_post p-3">
      <div class="img_pod">
        <img src="../../assets/star1.png" alt="random image" />
      </div>
      <div class="container_copy d-flex flex-column justify-content-between">
        <div class="d-flex flex-column">
          <div class="d-flex align-items-center">
            <div class="event-list">
              <div class="event-list--item--sheet__day">
                <strong>{{ getDay(event) }}</strong>
              </div>
              <div class="event-list--item--sheet__month">
                <strong>{{ getMonth(event) }}</strong>
              </div>
            </div>

            <div class="event-list--item--sheet__year ms-2">
              <strong>{{ getYear(event) }}</strong>
            </div>
          </div>

          <h3 class="mt-2">{{ event.title }}</h3>
          <p
            ngbTooltip="{{
              event.description.length > 60 ? event.description : null
            }}"
          >
            <ng-container *ngIf="event.description.length > 60; else noTooltip">
              {{ event.description.substring(0, 60) + "..." }}
            </ng-container>
            <ng-template #noTooltip>{{ event.description }}</ng-template>
          </p>
        </div>

        <div class="d-flex justify-content-between">
          <button
            (click)="openEvenModalRegistration(event)"
            class="btn_primary"
            href="#"
            target="_blank"
          >
            register
          </button>
          <button
            (click)="openViewParticipantsModal(event)"
            class="btn_primary"
            href="#"
            target="_blank"
          >
            view
          </button>
        </div>
      </div>
    </div>
    } @empty {
    <span>Task list is empty</span>
    }
  </div>
</div>
