<div class="d-flex flex-column px-3">
  <div class="d-flex justify-content-between full-width mt-4" [class.uniq-mb]="!loadingResponse && countOfRegisteredParticipants == 0">
    <div ngbAutofocus>
      <h5>Participants of {{ event.title }}</h5>
    </div>
    <div>
      <button
        type="button"
        class="btn-close"
        aria-describedby="modal-title"
        aria-label="Close"
        style="outline: none"
        (click)="activeModal.dismiss('Cross click')"
      ></button>
    </div>
  </div>

  <div *ngIf="countOfRegisteredParticipants > 0 && !loadingResponse" class="count-registered">
    <span>
      <small>Have already joined today</small>
      <strong
        ><span class="text-success ms-2">{{
          countOfRegisteredParticipants
        }}</span></strong
      ></span
    >
  </div>

  <ng-container *ngIf="loadingResponse">
    <div class="loading-block mb-3 mt-1" >
      <div class="loader"></div>
    </div>
  </ng-container>


  <input
    #search
    [disabled]="!event?.participants.length"
    class="full-width"
    type="text"
    placeholder="Search by name or email"
    (keyup)="applyFilter($event)"
  />

  <div class="participant-wrapper full-width mt-2">
    @for (participant of filteredParticipants; track $index) {
    <div
      class="list-group-item full-width d-flex justify-content-between align-items-start mb-2"
    >
      <div class="ms-2 me-auto">
        <div class="fw-bold">{{ participant?.name }}</div>
        <span>{{ participant?.email }}</span>
      </div>
    </div>
    }@empty {
    <span
      *ngIf="!filteredParticipants?.length && !search.value"
      class="full-height d-flex justify-content-center align-items-center"
      >Nobody has registered yet.</span
    >

    <span
      *ngIf="!filteredParticipants?.length && search.value"
      class="full-height d-flex justify-content-center align-items-center"
      >No participants found.</span
    >
    }
  </div>
</div>
