.pagination button.active {
  font-weight: bold;
  background-color: #007bff;
  color: white;
  border-color: #007bff;
  padding: 3px 10px;
}

.pagination button {
  margin: 0 5px;
  border-radius: 5px;
  color: black;
  border: none;
  padding: 3px 10px;
}

.pagination button:disabled {
  background-color: #cccccc;
  // cursor: not-allowed;
  opacity: 0.2;
}
