.pagination button.active {
  font-weight: bold;
  background-color: #007bff;
  color: white;
  border-color: #007bff;
  padding: 3px 10px;
}

.pagination button {
  margin: 0 5px;
  border-radius: 5px;
  color: black;
  border: none;
  padding: 3px 10px;
}

.pagination button:disabled:not(.active) {
  background-color: #cccccc;
  opacity: 0.2;
}

button.page-item:not(.active) {
  background: #cecbcb;
}

button.page-item:not(.active):hover {
  color: #007bff;
}

button.direction-pagination {
  background: none;
  i {
    color: #007bff;
  }
}

button.direction-pagination:not(:disabled):hover {
  background-color: #007bff;
  i {
    color: white;
  }
}

