<div class="pagination d-flex align-items-center">
  <button
    [disabled]=""
    class="direction-pagination"
    (click)="changePage(currentPage - 1)"
    [disabled]="(currentPage === 1) || !store.getEvents().length || store.getIsLoading()"
  >
    <i class="bi bi-arrow-left fsz-20"></i>
  </button>

  <ng-container *ngFor="let page of pages">
    <button
      [disabled]="!store.getEvents().length || store.getIsLoading()"
      class="page-item"
      *ngIf="page !== -1"
      (click)="changePage(page)"
      [class.active]="page === currentPage"
    >
      {{ page }}
    </button>
    <span *ngIf="page === -1"><strong>|</strong></span>
  </ng-container>

  <button
    [disabled]=""
    class="direction-pagination"
    (click)="changePage(currentPage + 1)"
    [disabled]="(currentPage === totalPages) || !store.getEvents().length || store.getIsLoading()"
  >
    <i class="bi bi-arrow-right fsz-20"></i>
  </button>
</div>
