input:not(.form-check-input) {
  border-radius: 10px;
  height: 45px;
  text-indent: 10px;
  border: 1px solid #f8b218;
}

button.action-button {
  height: 45px;
  color: white;
  border-radius: 5px;
}

button.action-button.reject {
  background-color: #ff6b6b;
}

button.action-button.submit {
  background-color: #40c640;
}

button.action-button:disabled {
  pointer-events: none;
  opacity: 0.4;
}

.birthday-block {
  width: 50%;
}

.radio-option-block {
  width: 80%;

  @media (max-width: 576px) {
    flex-direction: column;
  }
}

.validation-handled i {
  position: absolute;
  right: 20px;
  top: 31px;
  color: green;
  font-size: 20px;
}

.validation-handled input.ng-invalid.ng-touched {
  border: 1px solid #f83a18;
}
