
<nav class="navbar navbar-light bg-dark p-3">
  <a class="navbar-brand text-white" href="#">
    <img src="../assets/event-logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
    Event Booking
  </a>
</nav>
<router-outlet></router-outlet>

@for (toast of toastService.toasts; track toast) {
  <ngb-toast
      class="position-absolute start-50 translate-middle-x"
      [header]="toast.header"
      [autohide]="true"
      [delay]="toast.delay || 15000"
      [class]="toast.toastClass"
  >
      <div class="d-flex justify-content-between align-items-center">
          <img
              *ngIf="toast.iconColor"
              [src]="getIconSrc(toast.iconColor)"
              alt="alert"
              class="me-2 cursor-pointer"
          />
          <span class="toast-body-text fw-medium">
              {{ toast.body }}
          </span>
          <span class="d-inline-flex align-self-center ms-3 cursor-pointer" (click)="toastService.remove(toast)">
              <img
                  src="./assets/icons/cross.svg"
                  alt="close"
                  class="me-2"
              />
          </span>
      </div>
  </ngb-toast>
  }


  <app-loader *ngIf="store.getIsLoading()" class="position-fixed-center"></app-loader>